#define COMPILING_RES_FILE
#include "resource.h"
#undef COMPILING_RES_FILE

#define TBSTYLE_FLAT 2048

#include "version.rc"

1 24 "TrayEverything.exe.Manifest"
IDI_MAINICON ICON "res\\trayeverything.ico"

IDB_TRAY BITMAP "res\\tray.bmp"
IDB_SETTINGS BITMAP "res\\settings.bmp"
IDB_MINIMIZE BITMAP "res\\minimize.bmp"
IDB_UPDATE BITMAP "res\\update.bmp"
IDB_TOPMOST BITMAP "res\\topmost.bmp"
IDB_ABOUT BITMAP "res\\about.bmp"
IDB_EXIT BITMAP "res\\exit.bmp"

IDB_ARROWUP BITMAP "res\\arrowup.bmp"
IDB_ARROWDOWN BITMAP "res\\arrowdown.bmp"

IDI_EXPAND ICON "res\\expand.ico"
IDI_COLLAPSE ICON "res\\collapse.ico"

IDB_SPLASHSCREEN GIF "res\\splashscreen.gif"

IDD_MAINDLG DIALOG 0,0,300,200
STYLE DS_CENTER|WS_SYSMENU|WS_CAPTION|WS_MINIMIZEBOX|NOT WS_MAXIMIZEBOX
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "TrayEverything 1.3"
CLASS "TrayEverythingDialog"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL             "", IDC_REBAR, REBARCLASSNAME, CCS_NODIVIDER|RBS_BANDBORDERS|RBS_VARHEIGHT|RBS_DBLCLKTOGGLE|WS_CLIPCHILDREN|WS_CLIPSIBLINGS,0,0,0,0
    CONTROL             "", IDC_WINDOWSLIST, WC_LISTVIEW, WS_TABSTOP|LVS_REPORT|LVS_SINGLESEL,0,44,300,141
    CONTROL             "", IDC_STATUSBAR, STATUSCLASSNAME, NOT SBARS_SIZEGRIP, 0,0,0,0
END

IDD_OPTIONSDLG DIALOG 0,44,300,141
STYLE WS_CHILD|WS_TABSTOP|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL             "", IDC_OPTS_TAB, WC_TABCONTROL, WS_TABSTOP|WS_GROUP, 5,5,290,118
    DEFPUSHBUTTON       "", IDC_OPTS_DEFAULT, 173,124,60,16, WS_TABSTOP
    PUSHBUTTON          "", IDC_OPTS_APPLY, 235,124,60,16, WS_TABSTOP
END

IDD_OPTS_GENDLG DIALOG 2,14,284,100
STYLE WS_CHILD|WS_VISIBLE|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
    AUTOCHECKBOX        "", IDC_GOD_WINDOWS_RUN, 8,6,250,10, WS_TABSTOP
    AUTOCHECKBOX        "", IDC_GOD_UPD_CHECK, 8,16,250,10, WS_TABSTOP
    AUTORADIOBUTTON     "", IDC_GOD_UPD_EVERYSTART, 21,26,55,10, WS_GROUP
    AUTORADIOBUTTON     "", IDC_GOD_UPD_EVERYDAY, 79,26,55,10
    AUTORADIOBUTTON     "", IDC_GOD_UPD_EVERYWEEK, 142,26,60,10
    
    RTEXT               "", IDH_GOD_LANGUAGE, 5,40,50,10
    COMBOBOX            IDC_GOD_LANGUAGE, 58,38,90,180, CBS_DROPDOWNLIST|WS_TABSTOP
END

IDD_OPTS_TRAYDLG DIALOG 2,14,284,100
STYLE WS_CHILD|WS_TABSTOP|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT               "TrayEverything", IDH_TOD_MAIN, 5,5,250,8
    LTEXT               "", -1, 4,13,278,1, SS_ETCHEDFRAME
    AUTOCHECKBOX        "", IDC_TOD_TE_MINONCLOSE, 8,16,250,10, WS_TABSTOP
    AUTOCHECKBOX        "", IDC_TOD_TE_HIDEONMIN, 8,26,250,10, WS_TABSTOP
    LTEXT               "", IDH_TOD_TE_HIDEONMIN, 25,36,200,8
    
    LTEXT               "", IDH_TOD_OTHERPROGS, 5,52,250,8
    LTEXT               "", -1, 4,60,278,1, SS_ETCHEDFRAME
    AUTOCHECKBOX        "", IDC_TOD_OP_NOICON, 8,63,250,10, WS_TABSTOP
    AUTOCHECKBOX        "", IDC_TOD_OP_PWDPROTECT, 8,73,250,10, WS_TABSTOP
    AUTOCHECKBOX        "", IDC_TOD_OP_GROUPICON, 8,83,250,10, WS_TABSTOP
END

IDD_OPTS_TRAY2DLG DIALOG 2,14,284,100
STYLE WS_CHILD|WS_TABSTOP|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT               "", IDH_T2OD_AUTOMINIMIZE, 5,5,250,8
    LTEXT               "", -1, 4,13,278,1, SS_ETCHEDFRAME
    AUTOCHECKBOX        "", IDC_T2OD_AUTOMINIMIZE, 8,16,250,10, WS_TABSTOP
    EDITTEXT            IDC_T2OD_AM_TIME, 25,28,30,13, ES_NUMBER|WS_TABSTOP
    COMBOBOX            IDC_T2OD_AM_TIMETYPE, 57,28,60,12, CBS_DROPDOWNLIST|WS_TABSTOP
    
    LTEXT               "", IDH_T2OD_MINFROMPROGR, 5,46,250,8
    LTEXT               "", -1, 4,54,278,1, SS_ETCHEDFRAME
    AUTORADIOBUTTON     "", IDC_T2OD_MFP_NONE, 8,58,250,10, WS_GROUP
    AUTORADIOBUTTON     "", IDC_T2OD_MFP_TRAYBUTTON, 8,68,250,10
    AUTORADIOBUTTON     "", IDC_T2OD_MFP_MINBUTTON, 8,78,250,10
    AUTORADIOBUTTON     "", IDC_T2OD_MFP_MIDDLECLICK, 8,88,250,10
END

IDD_OPTS_PROGRAMSDLG DIALOG 2,14,284,100
STYLE WS_CHILD|WS_TABSTOP|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL             "", IDC_POD_PROGRAMSLIST, WC_LISTVIEW, WS_TABSTOP|WS_BORDER|LVS_REPORT|LVS_SINGLESEL,0,0,284,100
END

IDD_OPTS_HOTKEYSDLG DIALOG 2,14,284,100
STYLE WS_CHILD|WS_TABSTOP|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
    AUTOCHECKBOX        "", IDC_HOD_KBH_ENABLE, 8,5,70,10
    AUTORADIOBUTTON     "F7", IDC_HOD_KBH_F7, 15,15,20,12, WS_GROUP
    AUTORADIOBUTTON     "WIN + Q", IDC_HOD_KBH_WINQ, 45,15,40,12
    AUTORADIOBUTTON     "WIN + S", IDC_HOD_KBH_WINS, 92,15,40,12
    AUTORADIOBUTTON     "Ctrl + Q", IDC_HOD_KBH_CTRLQ, 138,15,40,12
END

IDD_UPDATEDLG DIALOG 0,44,300,141
STYLE WS_CHILD|WS_TABSTOP|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL             "", IDC_UD_UPDATESLIST, WC_LISTVIEW, WS_BORDER|LVS_REPORT|LVS_SINGLESEL, 10,10,280,70
    CONTROL             "", IDC_UD_PROGRESS, PROGRESS_CLASS, 0, 10,85,280,12
   
    GROUPBOX            "", -1, 10,100,190,38
    RTEXT               "", IDH_UD_PERCENT, 14,109,50,9
    LTEXT               "0%", IDC_UD_PERCENT, 66,109,70,9
    RTEXT               "", IDH_UD_STATUS, 14,118,50,9
    LTEXT               "", IDC_UD_STATUS, 66,118,130,9
    RTEXT               "", IDH_UD_COMPLETED, 14,127,50,9
    LTEXT               "", IDC_UD_COMPLETED, 66,127,130,9
    
    DEFPUSHBUTTON       "", IDC_UD_CHECK, 202,105,88,14
    PUSHBUTTON          "", IDC_UD_DOWNLOAD, 202,120,88,14, WS_DISABLED
END

IDD_ABOUTDLG DIALOG 0,44,300,141
STYLE WS_CHILD|WS_TABSTOP|DS_CONTROL|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg"
BEGIN
    ICON                   "", IDC_AD_ICON, 23,13
    CTEXT                  "TrayEverything", IDC_AD_HEADER, 76,10,203,24
    LTEXT                  "", -1, 66,11,2,120, SS_SUNKEN
    LTEXT                  "", IDH_AD_VERSION, 75,40,32,9
    LTEXT                  "1.3", IDC_AD_VERSION, 110,40,25,9
    PUSHBUTTON             "", IDC_AD_CHECKUPDATES, 140,37,100,14, WS_TABSTOP
    
    LTEXT                  "", IDH_AD_CREDITS, 72,56,200,12
    EDITTEXT               IDC_AD_CREDITS, 76,68,200,60, ES_MULTILINE|ES_READONLY|WS_VSCROLL
    
    LTEXT                  "", IDC_AD_WEB, 75,130,200,9, SS_NOTIFY
END

IDD_SETPASSWORDDLG DIALOG 10,10,165,65
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_EX_TOOLWINDOW
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX            "", -1,5,4,155,39
    RTEXT               "", IDH_SP_PWD1, 27,15,40,10
    EDITTEXT            IDC_SP_PWD1, 70,13,85,12, ES_PASSWORD|WS_TABSTOP
    RTEXT               "", IDH_SP_PWD2, 8,28,60,10
    EDITTEXT            IDC_SP_PWD2, 70,27,85,12, ES_PASSWORD|WS_TABSTOP
    PUSHBUTTON          "", IDCANCEL, 15,47,62,14, WS_TABSTOP
    DEFPUSHBUTTON       "", IDOK, 82,47,62,14, WS_TABSTOP
END

IDD_GETPASSWORDDLG DIALOG 10,10,150,58
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_EX_TOOLWINDOW
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX            IDH_GP_PWD, -1,3,2,140,37
    EDITTEXT            IDC_GP_PWD, 9,11,126,12, ES_PASSWORD|WS_TABSTOP
    CTEXT               "", IDC_GP_STATUS, 10,25,126,10, 0, WS_EX_STATICEDGE
    PUSHBUTTON          "", IDCANCEL,10,40,62,14, WS_TABSTOP
    DEFPUSHBUTTON       "", IDOK,77,40,62,14, WS_TABSTOP
END
